<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065550321782-96tt7o79md7vgcd6f2c2lutpnkgv2kjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065550321782-96tt7o79md7vgcd6f2c2lutpnkgv2kjc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1065550321782-q9jr6uu9jmhv0i57p3g0vv8kpp6lf1jp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASzr3XEL1KNk-Q9tw5nwzsux0dSnTq7fI</string>
	<key>GCM_SENDER_ID</key>
	<string>1065550321782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wemace.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>wemace-2cfec</string>
	<key>STORAGE_BUCKET</key>
	<string>wemace-2cfec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065550321782:ios:46e1975aa5505343356757</string>
</dict>
</plist>